.hover-mouse {
  &:hover {
    cursor: pointer;
  }
}

a.btn:hover {
  text-decoration: none;
}

.bottom-buttons {
  margin-bottom: 0;
  margin-top: 0.6em;
  button:not(last-of-type) {
    margin-right: 0.5em;
  }
}

.form-label {
  &.required {
    &:after {
      content: " *";
      color: red;
    }
  }
}

.card-table {
  tbody > tr {
    :first-child {
      padding-left: 1em;
    }

    :last-child {
      padding-right: 1em;
    }

    &:last-of-type {
      th,
      td {
        border-bottom: 0;
      }
    }

    &:first-of-type {
      th,
      td {
        border-top: 0;
      }
    }
  }
}

table.same-width {
  tbody > tr {
    th {
      width: 30%;
    }
  }
}

.no-mb-last {
  &:last-of-type {
    margin-bottom: 0 !important;
  }
}

.capitalize {
  text-transform: capitalize;
}

.checkbox-lg {
  width: 1.4em !important;
  height: 1.4em !important;
  margin-top: 0 !important;
}

.dropdown-menu {
  z-index: 1050 !important;
}